ul, li {
  list-style: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: none; }

.none {
  display: none; }

.red {
  color: red; }

.green {
  color: green; }

.gray {
  color: gray; }
